/* .container{
    width: 1400px;
    margin: 0 auto;
    background-color: rgb(201, 206, 206);
} */

.head-title{
    padding: 15px;
    text-align: center;
}

/* #todo-form{
    display: flex;
    flex-direction: column;
    height: 380px;
    margin: 10px;

    background-color: rgb(231, 248, 247);
    box-sizing: content-box;
} */

/* .form-title, .description, .push{
    display: flex;
    margin: 10px;   

    font-size: 1.2rem;      
}
.form-title{
    flex: 1;    
}
.description{
    box-sizing: border-box;
}
.main{
    display: flex;    
    justify-content: space-between;
} */
/* .todoItem{   
    position: relative;
    width: 200px;
    min-height: 200px;
    margin: 15px;  
    padding: 5px;  
    padding-top: 25px;   

    box-sizing: border-box;
    border: 1px solid grey;
    background-color: rgb(204, 241, 229); 

    font-size: 1.2rem;
    word-wrap: break-word;
}*/


/*
.out{
    width: 70%;
    display: flex;
    flex-wrap: wrap;        
}

.todoTitle{    
    font-weight: 600;
}

.todoText{    
    margin-top: 15px;
    font-weight: 400;
}
.like{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 23px;
    cursor: pointer;
}
.deleteBtn{
    position: absolute;
    top: 5px;
    right: 28px;
    cursor: pointer;
} */

.push{
    width: 20%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}